PromoApp/SampleData/OfficesItemSampleData/OfficesItemSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.OfficesItemSampleData" targetNamespace="Expression.Blend.SampleData.OfficesItemSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OfficesItemSampleData" type="tns:OfficesItemSampleData" />
  <xs:complexType name="OfficesItemSampleData">
    <xs:sequence>
      <xs:element name="Offices" type="tns:Offices" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Offices">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="OfficesItem" type="tns:OfficesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfficesItem">
    <xs:sequence>
      <xs:element name="Model" type="tns:Model" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2" name="DistanceString" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Model">
    <xs:attribute blend:Format="Address" name="Address" type="xs:string" />
  </xs:complexType>
</xs:schema>